---
layout: header
---
<header id="home-header" class="header" style="background-image: url({{ site.baseurl }}/images/{{ page.path | replace:'md','jpg'}}">

  <div class="container">
    <h1><a href="/">{{ site.title }}</a></h1>
    <ul class="meta">
      <li>
        <span>
          {{ site.description }}
        </span>
      </li>
    </ul>
  </div>

  {% if page.image.caption %}
  {% if page.image.captionlink %}
  <div class="featured-image-caption-home"><a href="{{ page.image.captionlink }}">{{ page.image.caption }}</a></div>
  {% else %}
  <div class="featured-image-caption-home"><a href="{{ site.baseurl }}/images/{{ page.path | split:"/" | last | replace :'md','jpg' }}">{{ page.image.caption }}</a></div>
  {% endif %}
  {% endif %}  

	<div class="links">
		<ul>
			{% for category in site.categories %}
			<li><a href="/{{category[0]}}">{{category[0] | replace:'ne','né' | capitalize }}</a></li>
			{% endfor %}

			{% for link in site.links %}
			<li><a href="{% if link.external %}{{ link.url }}{% else %}{{ site.url }}{{ link.url }}{% endif %}" {% if link.external %}target="_blank"{% endif %}>{{ link.title }}</a></li>
			{% endfor %}
		</ul>
	</div>
	
</header>
<article>
  <div class="container">
    <ul class="posts">
      {% if page.category %}
      {% sorted_for post in site.categories sort_by:order %}			
      <li>
        <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
        <span class="meta">
					le {{ post.date | localize: "%d %B %Y" }}
        </span>
      </li>
      {% endsorted_for %}
      {% else %}
      {% sorted_for post in site.posts sort_by:order %}
      <li>
        <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
        <span class="meta">
					le {{ post.date | localize: "%d %B %Y" }} dans {{ post.categories.first | replace:'ne','né' | capitalize }}
        </span>
      </li>
      {% endsorted_for %}
			{% endif %}
    </ul>
  </div>
</article>
