{% if page.image.feature %}

{% include head.html %}

<section class="article">


{% if page.image.feature %}
  <div class="overlay" {{ % if page.image.h % }}style="height: {{page.image.h }}"{{ % endif % }}></div>
  <div class="featured-image" style="background-image: url({{ site.url}}/images/{{ page.image.feature }}); {% if page.image.x and page.image.y %}background-position: {% if page.image.x.to_s contains 'px' %}-{% endif %}{{ page.image.x}} {% if page.image.y.to_s contains 'px' %}-{% endif %}{{page.image.y }};{% endif %}{{ % if page.image.h % }}height: {{page.image.h }};{{ % endif % }}">
  {% if page.image.caption %}
    {% if page.image.captionlink %}
      <div class="featured-image-caption"><a href="{{page.image.captionlink}}">{{ page.image.caption }}</a></div>
    {% else %}
      <div class="featured-image-caption">{{ page.image.caption }}</div>
    {% endif %}
  {% endif %}
  </div>
{% endif %}
{% else %}

{% include head-dark.html %}

<section class="article pad-top">

{% endif %}

      <article class="wrap post">
        <header class="post-header">
          <h1>{{ page.title }}</h1>
          <p class="intro">{% if page.description %}{{ page.description }}{% else %}{{ page.tagline }}{% endif %}</p>
        </header>

        {{ content }}

       </article>
    </section>
</div>

{% include footer.html %}
